In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'temp_c': [17.0, 25.0]}, index=['Portland', 'Berkeley'])

In [4]:
df

          temp_c
Portland    17.0
Berkeley    25.0

In [5]:
df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)

          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0