In [1]:
import pandas as pd

In [2]:
DATA = '../paper/malcolm_clean.csv'
df = pd.read_csv(DATA)

In [9]:
num_grps = df.groupby(['Study', 'Drug'])['Group'].nunique().reset_index(name='num_groups')

In [10]:
num_grps.describe()

       num_groups
count  193.000000
mean     1.005181
std      0.071982
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      2.000000

In [11]:
num_grps.loc[num_grps['num_groups'] > 1]

       Study       Drug  num_groups
119  TM00231  Cisplatin           2

In [12]:
# Only 1 (study, drug) pair with two groups; could simply eliminate this study?

In [14]:
print(df.MID.nunique())

1683

In [13]:
d = df.loc[df.Day <= 2]
print(d.MID.nunique())

1683

In [15]:
d21 = df.loc[df.Day >= 21]
print(d21.MID.nunique())

1439

In [16]:
print(df.loc[df.Day >= 25].MID.nunique())

1192

In [18]:
print(df.loc[df.Day >= 27].MID.nunique())

910

In [17]:
print(df.loc[df.Day >= 27].MID.nunique())

910

In [19]:
# compare to excel study files: could split by studies lasting less than / more than 3 weeks
# could set up start_day and end_day where start_day is in [0, 2] and end_day is >= 25?

In [21]:
d_start = df.loc[df.Day <= 2]
#grp_day = d_start.groupby('MID')['Day'].min()

max_days = d_start.loc[d_start.groupby('MID')['Day'].idxmin()]

In [22]:
max_days

,Study,Group,Drug,Control,MID,Day,Size,Cohort
12030,TM00214,Docetaxel,Docetaxel,0.0,011_1,-1.0,231.28,"('TM00214', 'Docetaxel')"
2892,TM00214,Cisplatin,Cisplatin,0.0,011_10,-1.0,124.69,"('TM00214', 'Cisplatin')"
2901,TM00214,Cisplatin,Cisplatin,0.0,011_11,-1.0,231.03,"('TM00214', 'Cisplatin')"
2910,TM00214,Cisplatin,Cisplatin,0.0,011_12,-1.0,240.83,"('TM00214', 'Cisplatin')"
12039,TM00214,Docetaxel,Docetaxel,0.0,011_13,-1.0,268.54,"('TM00214', 'Docetaxel')"
...,...,...,...,...,...,...,...,...
13506,TM00231,Group 4,Docetaxel,0.0,PRD0082,1.0,251.34,"('TM00231', 'Group 4')"
4775,TM00231,Group 2,Cisplatin,0.0,PRD0085,1.0,159.78,"('TM00231', 'Group 2')"
4782,TM00231,Group 2,Cisplatin,0.0,PRD0088,1.0,179.97,"('TM00231', 'Group 2')"
4789,TM00231,Group 2,Cisplatin,0.0,PRD0095,1.0,127.58,"('TM00231', 'Group 2')"
4859,TM00231,Group 3,Cisplatin,0.0,PRD0096,1.0,174.56,"('TM00231', 'Group 3')"