In [45]:
import pandas as pd

In [62]:
EXCEL_DATA = '../paper/peerj-07-6586-s001-michela-edits.xlsx'
ef0 = pd.read_excel(EXCEL_DATA, header=0, sheet_name=0)
ef1 = pd.read_excel(EXCEL_DATA, header=0, sheet_name=1)

In [63]:
ef0.head()

,Model,Primary Site,Specimen Site,Clinical Diagnosis,Primary/Met,Passage,Study Duration,C_N,C: Average Start Size (mm3),C: Min Start Size (mm3) C,C: Max Start Size (mm3),T_N,T: Average Start Size (mm3),T: Min Start Size (mm3),T: Max Start Size (mm3)
0,J000079689,Retroperitoneum,Retroperitoneum,neuroblastoma,Metastatic,2,28,5,220.570000,103.19,326.86,6,180.285714,100.80,272.49
1,J000080739,Breast,Breast,invasive ductal carcinoma,Primary,2,21,10,143.070000,72.27,286.43,10,141.323000,73.00,264.13
2,J000096652,Lung,Lung,lung adenocarcinoma,Primary,6,21,4,146.971429,80.65,207.55,6,150.492857,89.60,221.29
3,J000099327,Breast,Breast,invasive ductal carcinoma,Recurrent,3,14,10,138.325455,70.27,262.92,10,137.826364,78.66,293.52
4,J000100646,Bladder,Bladder,urinary bladder cancer,Primary,3,28,10,130.913000,95.66,223.39,10,131.276000,96.94,221.43

In [72]:
# studies with duration <= 21
ss = list(ef0.loc[ef0['Study Duration'] <= 21]['Model']) + list(ef1.loc[ef1['Study Duration'] <= 21]['Model'])
ss

['J000080739',
 'J000096652',
 'J000099327',
 'J000100674',
 'J000104256',
 'TM00090',
 'TM00099',
 'TM00107',
 'TM00186',
 'TM00192',
 'TM00231',
 'TM00356',
 'TM00784',
 'TM01029',
 'TM01039',
 'TM01149',
 'TM01273']

In [73]:
s28 = list(ef0.loc[ef0['Study Duration'] >= 28]['Model']) + list(ef1.loc[ef1['Study Duration'] >= 28]['Model'])
s28

['J000079689',
 'J000100646',
 'J000100672',
 'J000100675',
 'J000101173',
 'J000102184',
 'J000102630',
 'J000102680',
 'J000103634',
 'J000103917',
 'J000104518',
 'J000105006',
 'J000106560',
 'TM00091',
 'TM00096',
 'TM00097',
 'TM00098',
 'TM00103',
 'TM00185',
 'TM00188',
 'TM00193',
 'TM00194',
 'TM00196',
 'TM00199',
 'TM00202',
 'TM00203',
 'TM00208',
 'TM00212',
 'TM00213',
 'TM00214',
 'TM00219',
 'TM00222',
 'TM00226',
 'TM00233',
 'TM00246',
 'TM00253',
 'TM00256',
 'TM00298',
 'TM00302',
 'TM00335',
 'TM00355',
 'TM00386',
 'TM00387',
 'TM00702',
 'TM00832',
 'TM00877',
 'TM00999',
 'TM01075',
 'TM01079',
 'TM01087',
 'TM01117',
 'TM01278',
 'TM01563',
 'J000100675',
 'J000101173',
 'J000102184',
 'J000103634',
 'J000100646',
 'TM00199',
 'TM00208',
 'TM00226',
 'TM00253',
 'TM00256',
 'TM00335',
 'TM00832',
 'TM00877',
 'TM00091',
 'TM00214',
 'TM00387',
 'TM00096',
 'J000104518',
 'TM00098',
 'J000105006',
 'J000106560',
 'TM00103',
 'TM00219',
 'TM00298',
 'TM00355',
 'TM00386',
 'TM00302',
 'TM01075',
 'TM00999',
 'J000102680',
 'TM01079',
 'TM01117',
 'TM00188',
 'TM00193',
 'TM00194',
 'TM00203',
 'TM00702',
 'TM01278',
 'TM01087',
 'TM01563',
 'TM00212',
 'J000100672',
 'J000102630',
 'TM00185',
 'TM00202',
 'TM00246',
 'TM00233',
 'TM00213',
 'J000079689',
 'TM00196',
 'J000103917',
 'TM00222',
 'TM00097']

In [ ]:
## need to create dataframe d!

In [91]:
short_duration_studies = d.loc[d.duration <= 21].Study.unique()

In [92]:
short_duration_studies

array(['J000100672', 'TM00090', 'TM00097', 'TM01117', 'TM01273',
       'J000100674', 'TM00107', 'J000080739', 'J000099327', 'J000104256',
       'TM01029', 'J000104518', 'TM01563', 'J000096652', 'TM00186',
       'TM00212', 'TM00233', 'J000079689', 'TM01039', 'TM01149',
       'TM00784', 'TM00302', 'TM01278', 'J000103634', 'TM00103',
       'J000103917', 'TM00091', 'TM00099', 'TM00199', 'TM00203_2',
       'TM00387', 'TM00356', 'TM00196', 'TM00213', 'TM01087'],
      dtype=object)

In [93]:
len(set(ss).intersection(set(short_duration_studies)))

15

In [94]:
len(set(short_duration_studies))

35

In [29]:
d.loc[d.duration >= 27].MID.nunique()

911