In [1]:
import numpy as np
import pandas as pd

In [2]:
# edit DATA to load in welm_pdx.csv
DATA = '../data/welm_pdx.csv'
df = pd.read_csv(DATA)
print('Number of rows: ' + str(len(df)))

Number of rows: 5955

### Grouping by (Sample, Drug, Replicate Number)  does not uniquely identify a mouse

Let's select for Sample: HCI-015, Drug: Vehicle, Replicate Number: M0. Note that (1) the measurements for excel_sheet "6d mid" and "6f top right" are duplicates and (2) the measurements from "7d left" are different.

In [3]:
s = df.loc[(df['Sample'] == 'HCI-015') & (df['Drug'] == 'Vehicle') & (df['Replicate Number'] == 'M0')]
s

,Day,Drug,Other Info,Replicate Number,Sample,Tumor Volume mm3,source_file,excel_sheet
144,1.0,Vehicle,NaN,M0,HCI-015,138.915000,43018_2022_337_MOESM7_ESM.xlsx,6d mid
145,4.0,Vehicle,NaN,M0,HCI-015,145.330504,43018_2022_337_MOESM7_ESM.xlsx,6d mid
146,8.0,Vehicle,NaN,M0,HCI-015,182.656688,43018_2022_337_MOESM7_ESM.xlsx,6d mid
147,11.0,Vehicle,NaN,M0,HCI-015,203.187798,43018_2022_337_MOESM7_ESM.xlsx,6d mid
148,15.0,Vehicle,NaN,M0,HCI-015,306.954364,43018_2022_337_MOESM7_ESM.xlsx,6d mid
149,18.0,Vehicle,NaN,M0,HCI-015,338.624248,43018_2022_337_MOESM7_ESM.xlsx,6d mid
150,22.0,Vehicle,NaN,M0,HCI-015,389.207000,43018_2022_337_MOESM7_ESM.xlsx,6d mid
396,1.0,Vehicle,NaN,M0,HCI-015,138.915000,43018_2022_337_MOESM7_ESM.xlsx,6f top right
397,4.0,Vehicle,NaN,M0,HCI-015,145.330504,43018_2022_337_MOESM7_ESM.xlsx,6f top right
398,8.0,Vehicle,NaN,M0,HCI-015,182.656688,43018_2022_337_MOESM7_ESM.xlsx,6f top right
399,11.0,Vehicle,NaN,M0,HCI-015,203.187798,43018_2022_337_MOESM7_ESM.xlsx,6f top right
400,15.0,Vehicle,NaN,M0,HCI-015,306.954364,43018_2022_337_MOESM7_ESM.xlsx,6f top right
401,18.0,Vehicle,NaN,M0,HCI-015,338.624248,43018_2022_337_MOESM7_ESM.xlsx,6f top right
402,22.0,Vehicle,NaN,M0,HCI-015,389.207000,43018_2022_337_MOESM7_ESM.xlsx,6f top right
3162,1.0,Vehicle,NaN,M0,HCI-015,55.072640,43018_2022_337_MOESM9_ESM.xlsx,7d left
3163,4.0,Vehicle,NaN,M0,HCI-015,83.815910,43018_2022_337_MOESM9_ESM.xlsx,7d left
3164,8.0,Vehicle,NaN,M0,HCI-015,156.212537,43018_2022_337_MOESM9_ESM.xlsx,7d left
3165,11.0,Vehicle,NaN,M0,HCI-015,222.499238,43018_2022_337_MOESM9_ESM.xlsx,7d left
3166,15.0,Vehicle,NaN,M0,HCI-015,301.175963,43018_2022_337_MOESM9_ESM.xlsx,7d left
3167,18.0,Vehicle,NaN,M0,HCI-015,326.538149,43018_2022_337_MOESM9_ESM.xlsx,7d left
3168,22.0,Vehicle,NaN,M0,HCI-015,334.857259,43018_2022_337_MOESM9_ESM.xlsx,7d left

### Data that's hard to identify as duplicated
From looking through the excel sheets, I also found that sheet '3f left' and '3h left' have some data that is duplicated, but which is hard to identify as duplicated because the drugs are named differently. The duplication makes sense for the context: '3h left' is a long (100+ day) experiment and '3f left' shows the data for the first weeks of the experiment. However in '3h left' the drug is labeled as 'Fulvestrant' and in '3f left' the drug is labeled as 'Fulvestrant (200 mg/kg)'. For example, in the following two dataframes, the volume measurements are the same through day 26.

I think my main question here is how to check for other data that is duplicated, but which doesn't match exactly on one of the main values like Sample, Drug, or Replicate Number. I'm not sure if there is other duplicated data like this, but it seems like it would be good to check for.

In [4]:
ex1 = df.loc[(df['Sample'] == 'HCI-003') & (df['Replicate Number'] == 'M0') & (df['excel_sheet'] == '3f left') & (df['Drug'] == 'Fulvestrant (200 mg/kg)')]
ex1.head(15)

,Day,Drug,Other Info,Replicate Number,Sample,Tumor Volume mm3,source_file,excel_sheet
4217,1.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,94.2210,43018_2022_337_MOESM5_ESM.xlsx,3f left
4218,3.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,59.9040,43018_2022_337_MOESM5_ESM.xlsx,3f left
4219,5.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,45.8640,43018_2022_337_MOESM5_ESM.xlsx,3f left
4220,8.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,56.3295,43018_2022_337_MOESM5_ESM.xlsx,3f left
4221,10.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,30.3240,43018_2022_337_MOESM5_ESM.xlsx,3f left
4222,12.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,29.6020,43018_2022_337_MOESM5_ESM.xlsx,3f left
4223,15.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,33.6000,43018_2022_337_MOESM5_ESM.xlsx,3f left
4224,17.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,41.6025,43018_2022_337_MOESM5_ESM.xlsx,3f left
4225,19.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,37.9260,43018_2022_337_MOESM5_ESM.xlsx,3f left
4226,22.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,37.9260,43018_2022_337_MOESM5_ESM.xlsx,3f left
4227,24.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,44.5280,43018_2022_337_MOESM5_ESM.xlsx,3f left
4228,26.0,Fulvestrant (200 mg/kg),NaN,M0,HCI-003,46.5750,43018_2022_337_MOESM5_ESM.xlsx,3f left

In [5]:
ex2 = df.loc[(df['Sample'] == 'HCI-003') & (df['Replicate Number'] == 'M0') & (df['excel_sheet'] == '3h left') & (df['Drug'] == 'Fulvestrant')]
ex2.head(15)

,Day,Drug,Other Info,Replicate Number,Sample,Tumor Volume mm3,source_file,excel_sheet
4696,1.0,Fulvestrant,NaN,M0,HCI-003,94.2210,43018_2022_337_MOESM5_ESM.xlsx,3h left
4697,3.0,Fulvestrant,NaN,M0,HCI-003,59.9040,43018_2022_337_MOESM5_ESM.xlsx,3h left
4698,5.0,Fulvestrant,NaN,M0,HCI-003,45.8640,43018_2022_337_MOESM5_ESM.xlsx,3h left
4699,8.0,Fulvestrant,NaN,M0,HCI-003,56.3295,43018_2022_337_MOESM5_ESM.xlsx,3h left
4700,10.0,Fulvestrant,NaN,M0,HCI-003,30.3240,43018_2022_337_MOESM5_ESM.xlsx,3h left
4701,12.0,Fulvestrant,NaN,M0,HCI-003,29.6020,43018_2022_337_MOESM5_ESM.xlsx,3h left
4702,15.0,Fulvestrant,NaN,M0,HCI-003,33.6000,43018_2022_337_MOESM5_ESM.xlsx,3h left
4703,17.0,Fulvestrant,NaN,M0,HCI-003,41.6025,43018_2022_337_MOESM5_ESM.xlsx,3h left
4704,19.0,Fulvestrant,NaN,M0,HCI-003,37.9260,43018_2022_337_MOESM5_ESM.xlsx,3h left
4705,22.0,Fulvestrant,NaN,M0,HCI-003,37.9260,43018_2022_337_MOESM5_ESM.xlsx,3h left
4706,24.0,Fulvestrant,NaN,M0,HCI-003,44.5280,43018_2022_337_MOESM5_ESM.xlsx,3h left
4707,26.0,Fulvestrant,NaN,M0,HCI-003,46.5750,43018_2022_337_MOESM5_ESM.xlsx,3h left
4708,29.0,Fulvestrant,NaN,M0,HCI-003,49.6125,43018_2022_337_MOESM5_ESM.xlsx,3h left
4709,31.0,Fulvestrant,NaN,M0,HCI-003,35.3780,43018_2022_337_MOESM5_ESM.xlsx,3h left
4710,33.0,Fulvestrant,NaN,M0,HCI-003,37.2645,43018_2022_337_MOESM5_ESM.xlsx,3h left

### Part 2: An attempt at assigning unique identifiers to mice (work in progress)

To start, let's look at each ('Sample', 'Drug', 'Replicate Number', 'Day', 'excel_sheet') tuple and count the number of associated unique volume measurements.

In [6]:
df.groupby(['Sample', 'Drug', 'Replicate Number', 'Day', 'excel_sheet'])['Tumor Volume mm3'].nunique().describe()

count    5858.000000
mean        1.008535
std         0.092000
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: Tumor Volume mm3, dtype: float64

Some tuples have multiple volume measurements, even in the same excel sheet. This is because the Extended Data Figure (ED1) includes some mice who were given multiple tumors. For now, let's remove the ED1 sheets, to make things simpler.

In [7]:
# Remove data corresponding to ED1 sheets
ed_sheets = ['ED1c', 'ED1d left', 'ED1d right', 'ED1e left', 'ED1e right', 'ED1f left', 'ED1f right', 
             'ED1g left', 'ED1g right']
d = df.loc[~df.excel_sheet.isin(ed_sheets)]

In [8]:
d.groupby(['Sample', 'Drug', 'Replicate Number', 'Day', 'excel_sheet'])['Tumor Volume mm3'].nunique().describe()

count    4513.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: Tumor Volume mm3, dtype: float64

From the above we see that each ('Sample', 'Drug', 'Replicate Number', 'Day', 'excel_sheet') tuple now has exactly 1 volume measurement. To start, we'll assign an ID to each ('Sample', 'Drug', 'Replicate Number', 'excel_sheet') tuple. Some sheets have duplicate data, so this will likely be overcounting mice, but we can collapse duplicated data later on.

In [9]:
# Assign an MID to each (Sample, Drug, Replicate Number, excel_sheet) tuple
t1 = ['Sample', 'Drug', 'Replicate Number', 'excel_sheet']
old_len = len(d)
d = d.merge(d.groupby(t1).apply(lambda x: x.name).reset_index(name='ID'), 
              on=t1, 
              validate='many_to_one')
assert len(d) == old_len

In [10]:
d.head()

,Day,Drug,Other Info,Replicate Number,Sample,Tumor Volume mm3,source_file,excel_sheet,ID
0,1.0,Navitoclax,NaN,M0,HCI-010,163.920800,43018_2022_337_MOESM7_ESM.xlsx,6d left,"(HCI-010, Navitoclax, M0, 6d left)"
1,4.0,Navitoclax,NaN,M0,HCI-010,158.374381,43018_2022_337_MOESM7_ESM.xlsx,6d left,"(HCI-010, Navitoclax, M0, 6d left)"
2,8.0,Navitoclax,NaN,M0,HCI-010,197.154048,43018_2022_337_MOESM7_ESM.xlsx,6d left,"(HCI-010, Navitoclax, M0, 6d left)"
3,11.0,Navitoclax,NaN,M0,HCI-010,158.582177,43018_2022_337_MOESM7_ESM.xlsx,6d left,"(HCI-010, Navitoclax, M0, 6d left)"
4,15.0,Navitoclax,NaN,M0,HCI-010,176.645000,43018_2022_337_MOESM7_ESM.xlsx,6d left,"(HCI-010, Navitoclax, M0, 6d left)"

In [11]:
print('Number of unique IDs: ' + str(d.ID.nunique()))

Number of unique IDs: 391

As described before, it seems likely that multiple IDs correspond to the same mouse. So we need a way to collapse these IDs. Here I am going to assume that if two ('Sample', 'Drug', 'Replicate Number', 'Day', 'Tumor Volume mm3') tuples are identical, they correspond to the same mouse. Next we'll groupby said tuple and examine the associated IDs. We assume that all the IDs associated with a unique tuple correspond to the same mouse, and should be collapsed.

In [12]:
t2 = ['Sample', 'Drug', 'Replicate Number', 'Day', 'Tumor Volume mm3']
g = d.groupby(t2).ID.aggregate(lambda x: x.unique().tolist()).reset_index(name='id_list')
g

,Sample,Drug,Replicate Number,Day,Tumor Volume mm3,id_list
0,HCI-001,Birinapant,M0,1.0,71.656000,"[(HCI-001, Birinapant, M0, 7c top)]"
1,HCI-001,Birinapant,M0,4.0,90.750000,"[(HCI-001, Birinapant, M0, 7c top)]"
2,HCI-001,Birinapant,M0,8.0,231.040000,"[(HCI-001, Birinapant, M0, 7c top)]"
3,HCI-001,Birinapant,M0,11.0,261.612000,"[(HCI-001, Birinapant, M0, 7c top)]"
4,HCI-001,Birinapant,M0,15.0,322.752000,"[(HCI-001, Birinapant, M0, 7c top)]"
...,...,...,...,...,...,...
4210,HCI-051,Vehicle,M4,22.0,827.652832,"[(HCI-051, Vehicle, M4, 8d)]"
4211,HCI-051,Vehicle,M4,25.0,1312.095181,"[(HCI-051, Vehicle, M4, 8d)]"
4212,HCI-051,Vehicle,M4,29.0,1536.637931,"[(HCI-051, Vehicle, M4, 8d)]"
4213,HCI-051,Vehicle,M4,32.0,1981.055339,"[(HCI-051, Vehicle, M4, 8d)]"
4214,HCI-051,Vehicle,M4,36.0,2791.805710,"[(HCI-051, Vehicle, M4, 8d)]"

We can look up the example tuple from Part 1 ('HCI-015', 'Vehicle', 'M0') in dataframe g. Note that the duplicated measurements from Part 1 are now collapsed. The cases where we had multiple measurements on the same day can be separated out by their different file names.

In [13]:
g.loc[(g['Sample'] == 'HCI-015') & (g['Drug'] == 'Vehicle') & (g['Replicate Number'] == 'M0')]

,Sample,Drug,Replicate Number,Day,Tumor Volume mm3,id_list
2262,HCI-015,Vehicle,M0,1.0,55.072640,"[(HCI-015, Vehicle, M0, 7d left)]"
2263,HCI-015,Vehicle,M0,1.0,138.915000,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2264,HCI-015,Vehicle,M0,4.0,83.815910,"[(HCI-015, Vehicle, M0, 7d left)]"
2265,HCI-015,Vehicle,M0,4.0,145.330504,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2266,HCI-015,Vehicle,M0,8.0,156.212537,"[(HCI-015, Vehicle, M0, 7d left)]"
2267,HCI-015,Vehicle,M0,8.0,182.656688,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2268,HCI-015,Vehicle,M0,11.0,203.187798,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2269,HCI-015,Vehicle,M0,11.0,222.499238,"[(HCI-015, Vehicle, M0, 7d left)]"
2270,HCI-015,Vehicle,M0,15.0,301.175963,"[(HCI-015, Vehicle, M0, 7d left)]"
2271,HCI-015,Vehicle,M0,15.0,306.954364,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2272,HCI-015,Vehicle,M0,18.0,326.538149,"[(HCI-015, Vehicle, M0, 7d left)]"
2273,HCI-015,Vehicle,M0,18.0,338.624248,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."
2274,HCI-015,Vehicle,M0,22.0,334.857259,"[(HCI-015, Vehicle, M0, 7d left)]"
2275,HCI-015,Vehicle,M0,22.0,389.207000,"[(HCI-015, Vehicle, M0, 6d mid), (HCI-015, Veh..."

Next we'd like to map each ID to an MID so that if two IDs appear in the same id_list, they are mapped to the same MID. This should result in a one-to-one mapping between mice and MIDs. (I haven't finished this yet...)

In [14]:
# get a list of unique id_list's
unique_lists = []
for elem in list(g.id_list):
    append = True
    for s in unique_lists:
        if elem == s:
            append = False
    if append:
        unique_lists.append(elem)

In [15]:
# are there any id's that appear in multiple lists?
id_counts = {}
for id_name in list(d.ID):
    count = 0
    for l in unique_lists:
        for elt in l:
            if id_name == elt:
                count += 1
    id_counts[id_name] = count

In [16]:
for id_name in id_counts.keys():
    if id_counts[id_name] > 1:
        print(id_name)

('HCI-003', 'Vehicle', 'M0', '3h left')
('HCI-003', 'Vehicle', 'M1', '3h left')
('HCI-003', 'Vehicle', 'M2', '3h left')

### Next steps
My next goal is to create sets of IDs that all belong together (because they appear in id_lists together) and assign each set an MID. Then I would map each ID in the set to it's respective MID. These MIDs will (hopefully) uniquely identify mice.