In [2]:
import numpy as np
import pandas as pd
import scipy

CLIP_LOWER = .01
CLIP_UPPER = .99

def list_to_indices(keys):
    n_keys = len(keys)
    values = range(n_keys)
    return dict(zip(keys, values))

In [3]:
df = pd.read_csv('~/Documents/research/tansey/msk_intern/pyro_model/data/rep-gdsc-ctd2.csv')
# map drugs, samples to indices
drugs = df['Drug.Name'].unique()
samples = df['ccle'].unique()
drug_indices = list_to_indices(drugs)
sample_indices = list_to_indices(samples)
df['drug_id'] = df['Drug.Name'].replace(drug_indices)
df['sample_id'] = df['ccle'].replace(sample_indices)

In [5]:
print(len(df))

25670

In [6]:
# create overlap dataset
columns = ['Drug.Name', 'ccle', 'REP_auc_overlap', 'CTD2_auc_overlap', 'GDSC_auc_overlap', 'drug_id', 'sample_id']
overlap_df = df[columns]
overlap_df = overlap_df.dropna()
overlap_df.head()

,Drug.Name,ccle,REP_auc_overlap,CTD2_auc_overlap,GDSC_auc_overlap,drug_id,sample_id
0,MASITINIB,MFE296,1.0,0.972505,0.998475,0,0
1,MASITINIB,PSN1,1.0,0.999926,0.999475,0,1
2,MASITINIB,KYSE150,1.0,0.999783,0.987924,0,2
3,MASITINIB,ESS1,1.0,0.993567,0.963070,0,3
4,MASITINIB,A172,1.0,0.999033,0.999867,0,4

In [7]:
print(len(overlap_df))

25670

In [8]:
# create published dataset
columns = ['Drug.Name', 'ccle', 'REP_published_auc', 'CTD2_published_auc', 'GDSC_published_auc', 'drug_id', 'sample_id']
pub_df = df[columns]
pub_df = pub_df.dropna()
pub_df.head()

,Drug.Name,ccle,REP_published_auc,CTD2_published_auc,GDSC_published_auc,drug_id,sample_id
0,MASITINIB,MFE296,1.592769,12.921,0.94,0,0
1,MASITINIB,PSN1,1.684585,14.266,0.88,0,1
2,MASITINIB,KYSE150,1.409029,14.356,0.98,0,2
3,MASITINIB,ESS1,1.448933,13.714,0.86,0,3
4,MASITINIB,A172,1.714048,14.323,0.88,0,4

In [9]:
len(pub_df)

25562

In [10]:
# save both datasets
overlap_df.to_csv('~/Documents/research/tansey/msk_intern/pyro_model/data/rep-gdsc-ctd2-overlap.csv', index=False)
pub_df.to_csv('~/Documents/research/tansey/msk_intern/pyro_model/data/rep-gdsc-ctd2-pub.csv', index=False)