In [1]:
import numpy as np
import pandas as pd

In [39]:
df = pd.DataFrame({'day': [10, 20, np.nan, 50]}, index = pd.to_datetime([1, 2, 4, 5]))
df

                                day
1970-01-01 00:00:00.000000001  10.0
1970-01-01 00:00:00.000000002  20.0
1970-01-01 00:00:00.000000004   NaN
1970-01-01 00:00:00.000000005  50.0

In [37]:
#df['day'] = pd.to_datetime(df.day)

In [40]:
df.interpolate('time')

                                day
1970-01-01 00:00:00.000000001  10.0
1970-01-01 00:00:00.000000002  20.0
1970-01-01 00:00:00.000000004  40.0
1970-01-01 00:00:00.000000005  50.0

In [27]:
df.interpolate(method='ffill')

                            day  vol
0 1970-01-01 00:00:00.000000001   10
1 1970-01-01 00:00:00.000000003   30
2 1970-01-01 00:00:00.000000020  200
3 1970-01-01 00:00:00.000000025  250

In [66]:
df = pd.read_csv('../data/welm_pdx_clean_mid.csv')
df.head()

   MID   Sample        Drug   Day      Volume
0    0  HCI-010  Navitoclax   1.0  163.920800
1    0  HCI-010  Navitoclax   4.0  158.374381
2    0  HCI-010  Navitoclax   8.0  197.154048
3    0  HCI-010  Navitoclax  11.0  158.582177
4    0  HCI-010  Navitoclax  15.0  176.645000

In [67]:
# get start_vol and check that the earliest day is 1 for all
# create columns with earliest day + size
start_day = df.loc[df.groupby('MID')['Day'].idxmin()]
start_day = start_day.rename(columns = {'Day': 'start', 'Volume': 'start_vol'})
assert start_day.start.max() == 1

In [68]:
# create columns with latest day + size
last_day = df.loc[df.groupby('MID')['Day'].idxmax()]
last_day = last_day.rename(columns = {'Day': 'end', 'Volume': 'end_vol'})

In [69]:
# drop mids with end day earlier than stop_day
stop_day = 21
mids_to_drop = last_day.loc[last_day.end < stop_day].MID.unique()
last_day = last_day.loc[~last_day.MID.isin(mids_to_drop)]
assert last_day.end.min() >= duration

In [70]:
last_day.head()

    MID   Sample        Drug   end     end_vol
6     0  HCI-010  Navitoclax  22.0  230.687446
13    1  HCI-010  Navitoclax  22.0  111.587111
20    2  HCI-010  Navitoclax  22.0  110.372796
27    3  HCI-024  Navitoclax  22.0  367.335000
34    4  HCI-024  Navitoclax  22.0  213.016400

In [71]:
# MID, day, volume
def get_end_volume(df, mid, end_day):
    m = df.loc[df.MID == mid].copy(deep=True)
    if len(m.loc[m.Day == end_day]) > 1:
        print('Error! Multiple rows with end_day value!')
    # interpolate end volume
    if len(m.loc[m.Day == end_day]) == 0:
        m.loc[len(m)] = [mid] + [end_day, np.nan]
        m.index = pd.to_datetime(m.day)
        m.interpolate('time')
    return m.loc[m.day == end_day].volume

In [73]:
# start a new dataframe d with all the interpolated values
end_day = pd.DataFrame({'MID': [], 'end_vol': []})
for mid in last_day.MID.unique():
    end_vol = get_end_volume(df, mid, stop_day)
    end_day.loc[len(end_day)] = [mid, end_vol]

end_day.head()
# merge the start_df and the end_df back togther

ValueError: cannot set a row with mismatched columns

In [ ]:
# for each mid w/ duration >= 21:
# get a dataframe with all the rows for that mid
# if day 21 exists, return day 21 values
# else, interpolate to get value for day 21:
#### add day 21 with np.nan value
#### convert days to datetime, and make index
#### interpolate to get volume

In [42]:
df = pd.DataFrame({'vol': [10, 20, 50], 'day': [1, 2, 5]})
df

#df = pd.DataFrame({'day': [10, 20, np.nan, 50]}, index = pd.to_datetime([1, 2, 4, 5]))
#df

   vol  day
0   10    1
1   20    2
2   50    5

In [43]:
df.loc[len(df)] = [np.nan, 4]
df

    vol  day
0  10.0  1.0
1  20.0  2.0
2  50.0  5.0
3   NaN  4.0

In [44]:
df.index = pd.to_datetime(df.day)
df

                                vol  day
day
1970-01-01 00:00:00.000000001  10.0  1.0
1970-01-01 00:00:00.000000002  20.0  2.0
1970-01-01 00:00:00.000000005  50.0  5.0
1970-01-01 00:00:00.000000004   NaN  4.0

In [45]:
df.interpolate('time')

                                vol  day
day
1970-01-01 00:00:00.000000001  10.0  1.0
1970-01-01 00:00:00.000000002  20.0  2.0
1970-01-01 00:00:00.000000005  50.0  5.0
1970-01-01 00:00:00.000000004  40.0  4.0